* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.interface {
    width: 100vw;
    height: 100vh;
    background-color: rgb(136, 96, 182);
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.header {
    width: 100vw;
    height: 200px;
    background-color: rgb(255, 91, 233);
}

.center {
    width: 100vw;
    height: 600px;
    background-color: rgb(60, 110, 248);
}

.footer {
    width: 100vw;
    height: 200px;
    background-color: #ecfd88;
}